.github/**
.vscode/**
.vscode-test/**
.gitignore
.yarnrc
.prettierignore
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/.eslintrc.json
**/*.gif
res/devDocs
src/**
out/
node_modules/**
!node_modules/ssh2/**
vsc-extension-quickstart.md
