.github/**
.vscode/**
.vscode-test/**
.gitignore
.yarnrc
.prettierignore
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/.eslintrc.json
**/*.gif
res/devDocs
src/**
vsc-extension-quickstart.md
